<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	  <sectionGroup name="customAppSettingsGroup">
		  <section name="webAppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		  <section name="svcAppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
	  </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="elmah">
	    <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
	    <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
	    <!--<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />-->
	    <!--       
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
      <section name="errorTweet" requirePermission="false" type="Elmah.ErrorTweetSectionHandler, Elmah"/>
      -->
    </sectionGroup>
    <section name="logConfiguration" type="Rtt.ErrorHandler.Services.Logging.LogConfigurationSection" />
  </configSections>
	<connectionStrings>
		<add name="RttConnectionString" connectionString="data source=.;initial catalog=Rtt;user id=testusuer;password=passsword;" providerName="System.Data.SqlClient" />
		<add name="RttEntities" connectionString="metadata=res://*/Models.Repository.Entities.RttEntityModel.csdl|res://*/Models.Repository.Entities.RttEntityModel.ssdl|res://*/Models.Repository.Entities.RttEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Rtt;persist security info=True;user id=testuser;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<logConfiguration>
		<logProviders>
			<clear />
			<add name="Elmah" type="Rtt.ErrorHandler.Models.Repository.ElmahRepository" />
			<add name="NLog" type="Rtt.ErrorHandler.Models.Repository.NLogRepository" />
			<add name="Health Monitoring" type="Rtt.ErrorHandler.Models.Repository.HealthMonitoringRepository" />
		</logProviders>
	</logConfiguration>
	<elmah>
		<security allowRemoteAccess="0" />
		<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="RttConnectionString" />
		<!-- 
    <errorMail from="youremail@example.com" to="youremail@example.com" cc="" subject="Elmah Error" async="true" smtpPort="25" smtpServer="[EmailServerName]" userName="" password="" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" />
    -->
	</elmah>
	<customAppSettingsGroup>
		<webAppSettings>
			<add key="ApiDirectory" value="C:\\Rtt\Web\" />
			<add key="ApiContentDirectory" value="Content\" />
			<add key="ApiLogsDirectory" value="Logs\" />
		</webAppSettings>
		<svcAppSettings>
			<add key="ApiDirectory" value="C:\\Rtt\Svc\" />
			<add key="ApiContentDirectory" value="Content\" />
			<add key="ApiLogsDirectory" value="Logs\" />
		</svcAppSettings>
	</customAppSettingsGroup>
  <system.web>
	  <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-ZA" uiCulture="en-ZA" />
	  <compilation debug="true" targetFramework="4.7.2" defaultLanguage="c#" />
    <httpRuntime targetFramework="4.7.2" requestPathInvalidCharacters=""  maxRequestLength="2097151" executionTimeout="84000" />
	  <httpHandlers>
		  <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
	  </httpHandlers>
	  <httpModules>
		  <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
		  <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
		  <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
	  </httpModules>
	  <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Rtt.ErrorHandler.Helpers" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
	  <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
	  <healthMonitoring enabled="true">
		  <eventMappings>
			  <clear />
			  <!-- Log ALL error events -->
			  <add name="All Errors" type="System.Web.Management.WebBaseErrorEvent, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
			  <!-- Log application startup/shutdown events -->
			  <add name="Application Events" type="System.Web.Management.WebApplicationLifetimeEvent, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
		  </eventMappings>
		  <providers>
			  <clear />
			  <!-- Provide any customized SqlWebEventProvider information here (such as a different connection string name value -->
			  <add connectionStringName="RttConnectionString" maxEventDetailsLength="1073741823" buffer="false" name="SqlWebEventProvider" type="System.Web.Management.SqlWebEventProvider" />
		  </providers>
		  <rules>
			  <clear />
			  <add name="All Errors Default" eventName="All Errors" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
			  <add name="Application Events Default" eventName="Application Events" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
		  </rules>
	  </healthMonitoring>
  </system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
		</modules>
		<handlers>
			<add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" preCondition="integratedMode" type="Elmah.ErrorLogPageFactory, Elmah" />
		</handlers>
		<staticContent>
			<remove fileExtension=".ttf" />
			<mimeMap fileExtension=".ttf" mimeType="application/font-ttf" />
		</staticContent>

		<defaultDocument>
			<files>
				<clear />
				<add value="Default.aspx" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
			</files>
		</defaultDocument>
		<!--<httpErrors errorMode="Custom">
			<remove statusCode="404" />
			<error statusCode="404" path="Http404ErrorPage.aspx" responseMode="ExecuteURL" />
		</httpErrors>-->
		<caching>
			<profiles>
				<add extension=".aspx" policy="DontCache" kernelCachePolicy="DontCache" />
			</profiles>
		</caching>
		<security>
			<requestFiltering>
				<fileExtensions allowUnlisted="true">
					<remove fileExtension="." />
					<add fileExtension="." allowed="true" />
				</fileExtensions>
				<requestLimits maxAllowedContentLength="2147482624" />
			</requestFiltering>
		</security>
	</system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
	      <binding name="secureHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="10000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
		      <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
		      <security mode="None">
			      <transport clientCredentialType="None" />
		      </security>
	      </binding>
      </basicHttpBinding>
    </bindings>
    <client>
	    <endpoint address="https://localhost/Rtt.Wcf/ContactService.svc" binding="basicHttpBinding" bindingConfiguration="secureHttpBinding" contract="Rtt.Wcf.IContactService" name="BasicHttpBinding_ContactService" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>