<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Rtt.Wcf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="customAppSettingsGroup">
      <section name="webAppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="svcAppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
    <section name="logConfiguration" type="Rtt.ErrorHandler.Services.Logging.LogConfigurationSection" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <logConfiguration>
    <logProviders>
      <clear />
      <add name="NLog" type="Rtt.ErrorHandler.Models.Repository.NLogRepository" />
    </logProviders>
  </logConfiguration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <buildProviders />
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.serviceModel>
    <diagnostics performanceCounters="All">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" maxSizeOfMessageToLog="1000000">
        <filters>
          <clear />
        </filters>
      </messageLogging>
    </diagnostics>
    <services>
      <service behaviorConfiguration="DefaultBehavior" name="Rtt.Wcf.ContactService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="secureHttpBinding" contract="Rtt.Wcf.IContactService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/Rtt.Wcf/ContactService.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="secureHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="10000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="\\ava-motovate\SalesWorkPlace\Svc\Logs\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="RttEntities" connectionString="metadata=res://*/Models.Repository.Entities.RttEntityModel.csdl|res://*/Models.Repository.Entities.RttEntityModel.ssdl|res://*/Models.Repository.Entities.RttEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Rtt;persist security info=True;user id=testuser;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!--Email Config-->
    <add key="SupportEmail" value="jaco@ninjaco.co.za" />
    <add key="BaseUrl" value="http://localhost/Rtt.Web/" />
    <add key="loggerTypeName" value="Rtt.ErrorHandler.Services.Logging.NLog.NLogLogger" />
  </appSettings>
  <customAppSettingsGroup>
    <webAppSettings>
      <add key="ApiDirectory" value="C:\\Rtt\Web\" />
      <add key="ApiContentDirectory" value="Content\" />
      <add key="ApiLogsDirectory" value="Logs\" />
    </webAppSettings>
    <svcAppSettings>
      <add key="ApiDirectory" value="C:\\Rtt\Svc\" />
      <add key="ApiContentDirectory" value="Content\" />
      <add key="ApiLogsDirectory" value="Logs\" />
    </svcAppSettings>
  </customAppSettingsGroup>
</configuration>