<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <!--<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />-->
      <!--       
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
      <section name="errorTweet" requirePermission="false" type="Elmah.ErrorTweetSectionHandler, Elmah"/>
      -->
    </sectionGroup>
    <section name="logConfiguration" type="Rtt.ErrorHandler.Services.Logging.LogConfigurationSection" />
  </configSections>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="data source=.;initial catalog=Rtt;user id=test;password=test123;" providerName="System.Data.SqlClient" />
    <add name="RttEntities" connectionString="metadata=res://*/Models.Repository.Entities.RttEntityModel.csdl|res://*/Models.Repository.Entities.RttEntityModel.ssdl|res://*/Models.Repository.Entities.RttEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Rtt;persist security info=True;user id=testuser;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <logConfiguration>
    <logProviders>
      <clear />
      <add name="Elmah" type="Rtt.ErrorHandler.Models.Repository.ElmahRepository" />
      <add name="NLog" type="Rtt.ErrorHandler.Models.Repository.NLogRepository" />
      <add name="Health Monitoring" type="Rtt.ErrorHandler.Models.Repository.HealthMonitoringRepository" />
    </logProviders>
  </logConfiguration>
  <elmah>
    <security allowRemoteAccess="0" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="DatabaseConnectionString" />
    <!-- 
    <errorMail from="youremail@example.com" to="youremail@example.com" cc="" subject="Elmah Error" async="true" smtpPort="25" smtpServer="[EmailServerName]" userName="" password="" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" />
    -->
  </elmah>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!-- RemoteOnly -->
    <!--<customErrors mode="On" defaultRedirect="/Home/Error">
      <error statusCode="404" redirect="/Home/Confused" />
    </customErrors>-->
    <pages>
      <namespaces>
        <add namespace="Rtt.ErrorHandler.Helpers" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
    </httpModules>
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <healthMonitoring enabled="true">
      <eventMappings>
        <clear />
        <!-- Log ALL error events -->
        <add name="All Errors" type="System.Web.Management.WebBaseErrorEvent" startEventCode="0" endEventCode="2147483647" />
        <!-- Log application startup/shutdown events -->
        <add name="Application Events" type="System.Web.Management.WebApplicationLifetimeEvent" startEventCode="0" endEventCode="2147483647" />
      </eventMappings>
      <providers>
        <clear />
        <!-- Provide any customized SqlWebEventProvider information here (such as a different connection string name value -->
        <add connectionStringName="DatabaseConnectionString" maxEventDetailsLength="1073741823" buffer="false" name="SqlWebEventProvider" type="System.Web.Management.SqlWebEventProvider" />
      </providers>
      <rules>
        <clear />
        <add name="All Errors Default" eventName="All Errors" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
        <add name="Application Events Default" eventName="Application Events" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
      </rules>
    </healthMonitoring>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
    </modules>
    <handlers>
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" preCondition="integratedMode" type="Elmah.ErrorLogPageFactory, Elmah" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="loggerTypeName" value="Rtt.ErrorHandler.Services.Logging.NLog.NLogLogger" />
  </appSettings>
</configuration>